@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Centrally located within the Grand Rapids business district.  Grand Circus Coffee Roasters features
    organic and fair-trade certified coffee to fuel your busy day. </p>
