@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 Pearl Suite #200<br />
    Grand Rapids, MI 49503<br />
    <abbr title="Phone">P:</abbr>
    616.451.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@grandcircus.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@grandcircus.co</a>
</address>