@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grand Circus Coffee Roasters</h1>
    
    <p><a href="Registration" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

